.red:hover {
    background-color: red;
    border: 5px solid black;
    border-radius: 20px;
    text-align: center;
}
.yellow:hover{
    background-color: yellow;
    border: 5px solid black;
    border-radius: 20px;
    text-align: center;
}
.blue:hover{
    background-color: blue;
    border: 5px solid black;
    border-radius: 20px;
    text-align: center;
}
.pink:hover{
    background-color: rgb(247, 0, 255);
    border: 5px solid black;
    border-radius: 20px;
    text-align: center;
}
.gold:hover{
    background-color: goldenrod;
    border: 5px solid black;
    border-radius: 20px;
    text-align: center;
}
.red{
    color: red;
}
.yellow{
    color: yellow;
}
.blue{
    color: blue;
    font-size: 20px;
    height: 100px;
    font-style: italic;
}
.pink{
    color:rgb(247, 0, 255) ;
    font-family: monospace;
}
.gold{
    color: goldenrod;
}